<!doctype html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eternal Dropocalypse</title>
</head>

<body>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Eternal Dropocalypse
				</h1>
				<h2 class="subtitle">
					Let chrome handle your Eternal streams
				</h2>
				<p>
					Source code available at <a style="text-decoration: underline"
						href="https://gitlab.com/reatis/eternal-dropocalypse">https://gitlab.com/reatis/eternal-dropocalypse</a>.
					See <a href="logs.html" style="text-decoration: underline">the logs</a> for trouble shooting. Please
					use that repo for bugs and suggestions.
				</p>
			</div>
		</div>
	</section>

	<section class="section" id="grant" style="display: none">
		<div class="container">
			<article class="message is-warning">
				<div class="message-body">
					<ul>
						<li style="vertical-align: middle; line-height: 2.572em">
							<p></p><strong>You need to grant access to twitch for this extension to work. Currently it
								is NOT
								functional. </strong><a class="button is-warning">
								<span>Grant Permissions</span></a></p>
							<p>
								The extension needs to control your tabs (to keep twitch open), this permission is
								broath, and while it's not happening, chrome warns about reading history. The
								notifications are to inform you of drops.
							</p>
						</li>

					</ul>


				</div>
			</article>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<article class="message is-warning">
				<div class="message-body">

					<p>Since the chest opening was detectable and lead to influence losses (sorry, that obviously wasn't my intention) this has been disabled.
						 With the campaign system ditched, following campaigns now (obviously) does not work anymore either. So this extension is currently obsolete.
						  Maybe some day <a href=https://eternalreplay.com/>eternalreplay.com</a> will be hosting an automated game logger that will evolve in a decktracker that gets you in even more trouble if you use it :)</p>
					<!--					
					<ul>
						<li>
							For best success, make sure the tab with twitch has focus, it is possible a shutdown monitor
							causes loss of focus.
							An easy way is to simply create a new window for it. While the extension tries some
							shenanigans to keep focus, success is not guaranteed.
						</li>
						<li>
							This extension is <strong>not aware of official campaigns</strong>. To make
							sure you follow an official DWD stream like the ECQ, turn this extension off
							or it might drag you to a lesser campaign.
						</li>
					</ul>
				-->

				</div>
			</article>
		</div>
	</section>

	<section class="section" id="message">
		<div class="container">
			<article class="message is-info">
				<div class="message-body">
					<ul>
						<li>
							This screen is shown because the extension found no campaigns to watch.
						</li>
						<li>
							A campaign is known when drops are detected. If the JSON api is broken, no
							campaigns will be detected.
							A campaign is needed based on the stretches you "watched" that campaign
							level. If
							you watched 90 minutes
							straight of a certain level that's 1 stretch (for practicality reasons 178
							is
							2). If you watched 2 stretches more of that level is seen as redundant.
							<i>This is rather stingy, the benefit is it won't choose a second high level
								campaign over a low level one or keep twitch needlessly active. The
								drawback
								is a full campaign might not always give 2 drops, feedback/thoughts are
								welcome.</i> The number of (passive) drops you got is not detected, thus
							no
							factor.
						</li>
						<li>
							If silver is set to smart, early silver campaigns are ignored.
						</li>
					</ul>

				</div>
			</article>
		</div>
	</section>

	<section class="section" id="config">
		<div class="container">
			<p class="title">
				Configuration
			</p>
			<h2 class="subtitle">
				<strong>If you want to access twitch normally (for example to log in, or to watch a stream regardless of
					drops), you MUST disable this manager below</strong>
			</h2>
			<div class="field">
				<label class="label">Enabled</label>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<label class="radio">
								<input type="radio" name="enabled" value="yes" rv-checked="config.enabled">
								Yes
							</label>
							<label class="radio">
								<input type="radio" name="enabled" value="no" rv-checked="config.enabled">
								No
							</label>

						</div>
						<p class="help">When enabled this extension navigates your twitch tab. It allows only a single
							tab.</p>
					</div>
				</div>
			</div>

			<div class="field"  rv-if="config.enabled | isNo">
					<label class="label">Re-enable at</label>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">									
									<input type="time" id="reEnableAfter" name="reEnableAfter" min="0:00" max="24:00"	rv-value="config.reEnableAfter | timeToTimestamp"> <small>(24h format)</small>
							</div>
							<p class="help">When the extension is disabled above, enable at the given time</p>
						</div>
					</div>
				</div>

			<div class="field">
				<label class="label">Force twitch focussed</label>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<label class="radio">
								<input type="radio" name="forceFocus" value="yes" rv-checked="config.forceFocus">
								Yes
							</label>
							<label class="radio">
								<input type="radio" name="forceFocus" value="no" rv-checked="config.forceFocus">
								No
							</label>

						</div>
						<p class="help">When enabled this extension checks your twitch tab is focussed, and if not gives
							it focus. Helps with keeping campaigns active. Works best if the tab is in a different
							window than the one you use, otherways you'll be constantly interrupted.</p>
					</div>
				</div>
			</div>

			<div class="field">
				<label class="label">Silver campaigns</label>

				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<label class="radio">
								<input type="radio" name="silver" value="smart" rv-checked="config.silver">
								Smart
							</label>
							<label class="radio">
								<input type="radio" name="silver" value="never" rv-checked="config.silver">
								Never
							</label>
							<label class="radio">
								<input type="radio" name="silver" value="always" rv-checked="config.silver">
								Always
							</label>
						</div>
						<p class="help">Always: always follow a silver campaign (provided there is no incomplete higher
							level campaign). Smart: Don't follow silver at start of day, but do so later on. Never:
							Never follow silver campaigns</p>
					</div>
				</div>
			</div>

			<div class="field ">
				<label class="label">Open chests?</label>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<label class="radio">
								<input type="radio" name="chests" value="yes" rv-checked="config.chests">
								Yes
							</label>
							<label class="radio">
								<input type="radio" name="chests" value="no" rv-checked="config.chests">
								No
							</label>
							| Open chests from: <input type="time" id="chestsFrom" name="chestsFrom" min="0:00"
								max="24:00" rv-value="config.chestsFrom"> to:
							<input type="time" id="chestsTo" name="chestsTo" min="0:00" max="24:00"
								rv-value="config.chestsTo">
						</div>
						<p class="help">Pretty experimental, opens chests for you. from - to are the hours to open
							chests. (chests can only be opened if a stream is running)</p>
					</div>
				</div>
			</div>


		</div>
	</section>
	<section class="section" id="campaigns">
		<div class="container">
			<p class="title">
				Watched Campaigns
			</p>
			<p class="subtitle">
				The last 7 days
			</p>
			<table class="table is-narrow is-fullwidth">

				<tbody rv-each-w="campaignWindows">
					<tr>
						<th>{w.cw}</th>
						<td>
							<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
								<tbody>
									<tr rv-each-watched="w.watched">
										<th style="width:25%">{watched.streamer}</th>
										<td style="width:15%">{watched.type}</td>
										<td style="width:30%">started at {watched.start}</td>
										<td style="width:30%">{watched.minutes} minutes</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</section>
	<section class="section" id="chests">
		<div class="container">
			<p class="title">
				Opened chests
			</p>
			<p class="subtitle">
				The last 14 days
			</p>
			<table class="table is-narrow is-fullwidth  is-striped  is-bordered">
				<thead>
					<tr>
						<th>Date</th>
						<th>Opened Chests</th>
						<th>Blue Thingies</th>
					</tr>
				</thead>
				<tbody >
					<tr rv-each-c="chests">
						<th>{c.t}</th>
						<td>{c.ct}</td>
						<td>{c.amount}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</section>
</body>
<script type="text/javascript" src="pages.js"></script>

</html>